#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

.navbar-default {
  background-color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.vspace{
  padding-top: 80px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
.btn-custom {
  background-color: #0066C8;
  border-color: #0066C8;
  color: white;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #0059af;
  border-color: #004c95;
  color: white;
}

/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

a {
  color: #0066C8;
}

.jumbotron {
  text-align: center;
  background-color: white;
}

.jumbotron h1 {
  font-size: 72px;
  color: #0066C8;
}

.jumbotron .lead {
  margin-top: 20px;
  font-size: 28px;
  }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-shadow: none;
  color: #5a5a5a;
}

.carousel-caption h1 {
  font-weight: normal;
}

.carousel-control.right, .carousel-control.left {
  color: black;
  background-image: none;
}

.carousel-indicators li {
  color: #5a5a5a;
  border-color: #5a5a5a;
}

.carousel-indicators .active {
  background-color: #5a5a5a;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #0066C8;
  background-color: white;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  margin-bottom: 40px;
  text-align: center;
}
.marketing h2, .marketing h1 {
  font-weight: normal;
}

.marketing h3:first {
  margin-top: 0px; 
}

.marketing h3 {
  font-weight: normal;
  margin-top: 40px; 
  margin-bottom: 20px;
}


.marketing .col-lg-6 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing .col-lg-6 .img-circle {
  border: 1px solid #eee;
  margin-top: 40px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



